/data/
/emotionClassification/data/
/instrumentClassification/output/
/instrumentClassification/data/
/venv/
/tf-env/

# Ignore all .mp4, .png, .jpg, .mp3 files in the repository
*.pkl
/instrumentClassification/*.pkl
*.mp4
*.png
*.jpg
*.mp3
*.wav
*.webm
*.csv
*.json

*.arff
*.rarr